* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body,
ul,
li,
p,
a {
    list-style: none;
    text-decoration: none;
    color: black;
    font-family: Helvetica;
}

.nav-mercado {
    height: 100px;
    width: 100%;
    background-color: rgb(99, 168, 66);
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: auto auto;
    padding: 8px 10px 12px 10px;
    grid-template-areas:
        "logo search anuncio"
        "nav-items nav-items nav-items";
    grid-column-gap: 20px;
    justify-content: center;
    align-items: center;
    grid-row-gap: 20px;
    padding-right: 100px;
    padding-left: 100px;
}

.logo-mercado {
    background-color: transparent;
    outline: 0;
    border: 0;
}

.logo-mercado img {
    height: 34px;
    width: 134px;
}

.search {
    display: flex;
}

.search input {
    height: 40px;
    width: 100%;
    border: 0;
    border-radius: 1px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    text-indent: 12px;
    font-size: 16px;
}

.search input:focus {
    outline: 1px solid blue;
}


.search img {
    height: 21px;
    width: 46px;
}

.search button {
    height: 40px;
    width: 46px;
    margin-left: -46px;
    background-color: transparent;
    border: 0;
    border-radius: 1px;
    border-left: 1px solid rgba(128, 128, 128, 0.5);
}

.search button:focus {
    outline: 1px solid blue;
}

.anuncio {
    background-color: transparent;
    outline: 0;
    border: 0;
    padding-left: 50px
}

.anuncio img {
    height: 39px;
    width: 340px;
}

.nav-items {
    grid-area: nav-items;
    display: flex;
    justify-content: center;
    gap: 20px;
    font-size: 14px;
}

.nav-items button {
    height: 28px;
    width: 86.2px;
    display: flex;
    background-color: transparent;
    font-size: 14px;
    border: 0;
    left: 100px;
    grid-area: nav-items;
    margin-right: 50px;
    margin-top: -15px;
}

.nav-items button:hover li a {
    color: black;
}

.nav-items button img {
    height: 27px;
    width: 23px;
    margin-left: -23px;
    margin-top: -10px;
}

.nav-items button li {
    display: flex;
    flex-wrap: wrap;
    font-size: 12px;
}

.nav-items button li a:nth-child(1) {
    color: rgba(0, 0, 0, 0.3);
}

.nav-items li:nth-child(9) {
    margin-right: 133px;
}

.nav-items li img {
    height: 10px;
    width: 10px;
    position: relative;
    margin-top: 2px;
    margin-left: 4px;
}

.nav-items>li {
    display: flex;
    align-items: center;
    position: relative;
}

.nav-items>li>a:hover {
    color: rgba(0, 0, 0, 0.377);
    transition: 0.5s;
}

.nav-items>a img {
    height: 50px;
    width: 30px;
    position: absolute;
    margin-top: -20px;
}

.dropdown-content {
    display: none;
    position: absolute;
    z-index: 2;
    margin-bottom: -840px;
    background-color: #333333;
    border-radius: 4px;
}

.dropdown-content a {
    display: block;
    padding: 9px 35px;
    width: 250px;
    color: white;
}

.dropdown-content>a:hover {
    color: white;
    background-color: #3483fa;
}

.dropdown-content a:first-child:hover {
    background-color: transparent;
    color: white;
    cursor: default;
}

.triangulo-dropdown {
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 20px solid #333333;
    position: absolute;
    margin-top: -20px;
    margin-left: 25px;
}

.nav-items li:nth-child(2):hover .dropdown-content {
    display: block;
}

.carrossel-anuncios{
    display: flex;
    height: 500px;
    object-fit: cover;
    animation: slider 12s infinite, fade 4s;
    justify-content: center;
    background-size: contain; 
    background-repeat: no-repeat;
}

@keyframes slider {

    0%,
    20% {
        background-image: url(./img/propaganda-1.png);
    }

    21%,
    40% {
        background-image: url(./img/propaganda-2.png);
    }

    41%,
    60% {
        background-image: url(./img/propaganda-3.png);
    }

    61%,
    80% {
        background-image: url(./img/propaganda-4.png);
    }

    81%,
    100% {
        background-image: url(./img/propaganda-5.png);
    }
}

@keyframes fade {
    0% {
        opacity: 0;
    }

    15%,
    85% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.button_carrossel_1,
.button_carrossel_2 {
    z-index: 1;
    height: 7vh;
    width: 2%;
    font-size: 20px;
    outline: 0;
    border: 0;
    background-color: white;
    color: rgb(25, 87, 255);
    border-radius: 100%;
    margin-top: 11%;
    text-align: center;
}

.button_carrossel_1 {
    position: absolute;
    left: 0px;
}

.button_carrossel_2 {
    position: absolute;
    right: 0px;
}

.quad_button_1,
.quad_button_2 {
    background-color: white;
    height: 7vh;
    width: 0.9vw;
    z-index: -1;
}

.quad_button_1 {
    position: absolute;
    top: 0px;
}

.quad_button_2 {
    position: absolute;
    top: 0px;
    right: 0px;
}

.indicators{
    display: flex;
    padding-top: 280px;
}
.indicador{
    height: 5.6px;
    width: 5.6px;
    border-radius: 100px;
    margin-inline: 4px;
    border: 1px solid white;
}

.indicador:nth-child(1){
     animation: indicator1 12s infinite;
}
.indicador:nth-child(2){
     animation: indicator2 12s infinite;
}
.indicador:nth-child(3){
     animation: indicator3 12s infinite;
}
.indicador:nth-child(4){
     animation: indicator4 12s infinite;
}
.indicador:nth-child(5){
     animation: indicator5 12s infinite;
}

@keyframes indicator1 {
    0%, 20% { background-color: white; }
    21%, 100% { background-color: rgba(102, 100, 100, 0.5); }
}

@keyframes indicator2 {
    0%, 20% { background-color: rgba(102, 100, 100, 0.5); }
    21%, 40% { background-color: white; }
    41%, 100% { background-color: rgba(102, 100, 100, 0.5); }
}

@keyframes indicator3 {
    0%, 40% { background-color: rgba(102, 100, 100, 0.5); }
    41%, 60% { background-color: white; }
    61%, 100% { background-color: rgba(102, 100, 100, 0.5); }
}

@keyframes indicator4 {
    0%, 60% { background-color: rgba(102, 100, 100, 0.5); }
    61%, 80% { background-color: white; }
    81%, 100% { background-color: rgba(102, 100, 100, 0.5); }
}

@keyframes indicator5 {
    0%, 80% { background-color: rgba(102, 100, 100, 0.5); }
    81%, 100% { background-color: white; }
}

.color-gradient{
    position: absolute;
    height: 18vh;
    width: 100%;
    margin-top: 300px;
     background: linear-gradient(
    transparent, 
    rgba(255, 255, 255, 0.82), 
    rgb(175, 175, 175), 
    rgb(131, 131, 131)
  );
}

.nav-cards{
    display: flex;
    height: 300px;
    width: 100%;
    margin-top: -205px;
    position: absolute;
}
.card-info{
    background-color: rgb(255, 255, 255);
    width: 200px;
    margin-inline: 20px;
    padding: 20px 15px;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.4);
    color: inherit;
}
.card-info img {
    margin-top: 20px;
    background-color: rgb(133, 133, 133);
    height: 50%;
    width: 100%;
    margin-bottom: 20px;
}
.card-info li:nth-child(3){
    text-align: center;
    font-size: 14px;
    margin-bottom: 20px;
}

.card-info > li:nth-child(4){
    text-align: center;
    width: 100%;
    background-color: #3483fa93;
    font-size: 13px;
    padding: 5px 0 5px;
    text-decoration: none;
}
