* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body,
ul,
li,
p,
a {
    list-style: none;
    text-decoration: none;
    color: black;
    font-family: Helvetica;
}

.nav-mercado {
    height: 100px;
    width: 100vw;
    background-color: rgb(99, 168, 66);
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: auto auto;
    padding: 8px 10px 12px 10px;
    grid-template-areas:
        "logo search anuncio"
        "nav-items nav-items nav-items";
    grid-column-gap: 20px;
    justify-content: center;
    align-items: center;
    grid-row-gap: 20px;
    padding-right: 100px;
    padding-left: 100px;
}

.logo-mercado {
    background-color: transparent;
    outline: 0;
    border: 0;
}

.logo-mercado img {
    height: 34px;
    width: 134px;
}

.search{
    display: flex;
}
.search input{
    height: 40px;
    width: 100%;
    border: 0;
    border-radius: 1px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    text-indent: 12px;
    font-size: 16px;
}

.search input:focus {
    outline: 1px solid blue;
}


.search img{
    height: 21px;
    width: 46px;
}
.search button{
    height: 40px;
    width: 46px;
    margin-left: -46px;
    background-color: transparent;
    border: 0;
    border-radius: 1px;
    border-left: 1px solid rgba(128, 128, 128, 0.5);
}
.search button:focus {
    outline: 1px solid blue;
}

.anuncio {
    background-color: transparent;
    outline: 0;
    border: 0;
    padding-left: 50px
}

.anuncio img {
    height: 39px;
    width: 340px;
}

.nav-items {
    grid-area: nav-items;
    display: flex;
    justify-content: center;
    gap: 20px;
    font-size: 14px;
}

.nav-items button{
    height: 28px;
    width: 86.2px;
    display: flex;
    background-color: transparent;
    font-size: 14px;
    border: 0;
    left: 100px;
    grid-area: nav-items;
    margin-right: 90px;
    margin-top: -15px;
}

.nav-items button img{
    height: 27px;
    width: 23px;
    margin-left: -23px;
    margin-top: -10px;
}

.nav-items button li{
    display: flex;
    flex-wrap: wrap;
    font-size: 12px;
}

.nav-items button li a:nth-child(1){
    color: rgba(0, 0, 0, 0.3);
}

.nav-items li:nth-child(9){
    margin-right: 133px;
}


